on post-fs-data
    mkdir /data/mdlog 0775 system system
    mkdir /data/ramdump 0775 shell system
    mkdir /data/debuglogger 0770 shell log

on post-fs-data && property:ro.vendor.mtklog_internal=1
    mkdir /data/log 0775 system log

service emdlogger1 /system/system_ext/bin/emdlogger1
   # class main
    user shell
    group log system shell radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

service emdlogger1_fac /system/system_ext/bin/emdlogger1 on
   # class main
    user shell
    group log system shell radio sdcard_rw inet sdcard_r media_rw
    disabled    

on property:ro.factory.factory_binary=factory
    start emdlogger1_fac    

on property:vold.decrypt=trigger_restart_framework
    start emdlogger1

on property:persist.vendor.em.dy.debug=1
    stop emdlogger1
